<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(/clouddn-file/img_bg_1.jpg);">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>WE WANT YOU!</h1>
						<h2>People With Passion Can Change The World!
							<br>——Steve Jobs
						</h2>
						<h2>加入苹果实验室，觉醒原力，改变世界！</h2>
						<div class="col-md-4">
							<p><a href="hr-designer" class="btn btn-default">加入设计组</a></p>
						</div>
						<div class="col-md-4">
							<p><a href="hr-coder" class="btn btn-default">加入技术类组</a></p>
						</div>
						<div class="col-md-4">
							<p><a href="hr-pmer" class="btn btn-default">加入运营组</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>