{{> hr-header}}
<div class="gtco-section">
	<div class="gtco-container">
		<div class="row col-md-10 col-lg-offset-1">
			<h3>请认真填写以下报名内容，确保信息真实有效。</h3>
			<form action="/member/submit" method="post">
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_name">姓名</label>
						<input type="text" id="form_name" name="name" class="form-control" placeholder="如：萌小天">
					</div>
					<div class="col-md-6">
						<label for="form_class">班级</label>
						<input type="text" id="form_class" name="class" class="form-control" placeholder="如：计科1402">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_id">学号</label>
						<input type="text" id="form_id" name="id" class="form-control" placeholder="如：0902140229">
					</div>
					<div class="col-md-6">
						<label for="form_email">Email</label>
						<input type="text" id="form_email" name="email" class="form-control" placeholder="如：nuptunee@gamil.com">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_grade">年级</label>
						<select id="form_grade" name="grade" class="form-control shadow_black">
							<option>&nbsp;&nbsp;&nbsp;&nbsp;大一&nbsp;&nbsp;&nbsp;&nbsp;</option>
							<option>&nbsp;&nbsp;&nbsp;&nbsp;大二&nbsp;&nbsp;&nbsp;&nbsp;</option>
							<option>&nbsp;&nbsp;&nbsp;&nbsp;大三&nbsp;&nbsp;&nbsp;&nbsp;</option>
						</select>
					</div>
					<div class="col-md-6">
						<label for="form_gender">性别</label>
						<select id="form_gender" name="gender" class="form-control shadow_black">
							<option>&nbsp;&nbsp;&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;</option>
							<option>&nbsp;&nbsp;&nbsp;&nbsp;女&nbsp;&nbsp;&nbsp;&nbsp;</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_id">qq</label>
						<input type="text" id="form_qq" name="qq" class="form-control" placeholder="如：695942311">
					</div>
					<div class="col-md-6">
						<label for="form_phone">手机号码</label>
						<input type="text" id="form_phone" name="phone" class="form-control" placeholder="如：15675884010">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_designExp">设计经验</label>
						<select id="form_designExp" name="designExp" class="form-control shadow_black">
							<option>&nbsp;&nbsp;完全无设计经验与基础</option>
							<option>&nbsp;&nbsp;略微懂基本设计软件（包括但不仅限于PS,AE,AI,Skitch）或有原画基础</option>
							<option>&nbsp;&nbsp;设计过一些作品，审美较好</option>
							<option>&nbsp;&nbsp;已经设计过不少作品</option>
							<option>&nbsp;&nbsp;劳资是大神，平面合成三维通吃，创世神</option>
						</select>
					</div>
					<div class="col-md-6">
						<label for="form_uiExp">是否有过UI设计经验</label>
						<select id="form_uiExp" name="uiExp" class="form-control shadow_black">
							<option>&nbsp;&nbsp;是</option>
							<option>&nbsp;&nbsp;否</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_zcoolExp">是否在站酷、UI中国、Dribbbble等上传过作品</label>
						<select id="form_zcoolExp" name="zcoolExp" class="form-control shadow_black">
							<option>&nbsp;&nbsp;是</option>
							<option>&nbsp;&nbsp;否</option>
						</select>
					</div>
					<div class="col-md-6">
						<label for="form_mdExp">是否清楚一些UI设计规范（如Meterial Design）</label>
						<select id="form_mdExp" name="mdExp" class="form-control shadow_black">
							<option>&nbsp;&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
							<option>&nbsp;&nbsp;否&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<label for="form_skill">专业技能:</label>
						<textarea name="skill" id="form_skill" cols="30" rows="5" class="form-control" placeholder="包括并不仅限于设计工具、原画能力等，如：1.熟练使用photoshop工具；2.熟练使用AE，并对trapcode，element3d等有一定了解；3.可以使用maya建模；4.个人站酷账号为zcool.com/xxx"></textarea>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<label for="form_introduce">自我能力描述:</label>
						<textarea name="introduce" id="form_introduce" cols="30" rows="8" class="form-control" placeholder="请在两百字内介绍自己，可以从自我优势, 加入目的, 未来计划等方面介绍"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="提交" class="btn btn-primary">
				</div>
			</form>		
		</div>
	</div>
</div>