{{> hr-header}}
<div class="gtco-section">
	<div class="gtco-container">
		<div class="row col-md-10 col-lg-offset-1">
			<h3>请认真填写以下报名内容，确保信息真实有效。</h3>
			<form>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_name">姓名</label>
						<input type="text" id="form_name" class="form-control" placeholder="如：萌小天" required>
					</div>
					<div class="col-md-6">
						<label for="form_class">班级</label>
						<input type="text" id="form_class" class="form-control" placeholder="如：计科1402" required>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_id">学号</label>
						<input type="text" id="form_id" class="form-control" placeholder="如：0902140229" required>
					</div>
					<div class="col-md-6">
						<label for="form_email">Email</label>
						<input type="text" id="form_email" class="form-control" placeholder="如：nuptunee@gamil.com" required>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_grade">年级</label>
						<select id="form_grade" class="form-control shadow_black">
							<option>&nbsp;&nbsp;&nbsp;&nbsp;大一&nbsp;&nbsp;&nbsp;&nbsp;</option>
							<option>&nbsp;&nbsp;&nbsp;&nbsp;大二&nbsp;&nbsp;&nbsp;&nbsp;</option>
							<option>&nbsp;&nbsp;&nbsp;&nbsp;大三&nbsp;&nbsp;&nbsp;&nbsp;</option>
						</select>
					</div>
					<div class="col-md-6">
						<label for="form_gender">性别</label>
						<select id="form_gender" class="form-control shadow_black">
							<option>&nbsp;&nbsp;&nbsp;&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;</option>
							<option>&nbsp;&nbsp;&nbsp;&nbsp;女&nbsp;&nbsp;&nbsp;&nbsp;</option>
						</select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label for="form_id">qq</label>
						<input type="text" id="form_qq" class="form-control" placeholder="如：695942311">
					</div>
					<div class="col-md-6">
						<label for="form_phone">手机号码</label>
						<input type="text" id="form_phone" class="form-control" placeholder="如：15675884010">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<label for="form_skill">专业技能:</label>
						<textarea name="form_skill" id="form_skill" cols="30" rows="5" class="form-control" placeholder="包括并不仅限于专业工具与个人优势等，如：1.熟练使用Axure原型制作工具；2.熟练使用墨刀工具；3.对互联网产品有自己的独到见解"></textarea>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<label for="form_introduce">自我能力描述:</label>
						<textarea name="form_skill" id="form_introduce" cols="30" rows="8" class="form-control" placeholder="请在两百字内介绍自己，可以从自我优势, 加入目的, 未来计划等方面介绍"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="提交" class="btn btn-primary">
				</div>
			</form>
		</div>
	</div>
</div>
