<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(/clouddn-file/img_bg_1.jpg);">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>中南大学苹果实验室</h1>
                            <h2>中南大学苹果实验室是中南大学与苹果公司进行校企合作的平台，我们是中南最具竞争力的技术社区之一，用心写好每一行代码，做好每一份设计，创造不可能。</h2>
                            <div class="col-md-4">
                                <p><a href="hr-designer" class="btn btn-default">加入设计组</a></p>
                            </div>
                            <div class="col-md-4">
                                <p><a href="hr-coder" class="btn btn-default">加入技术类组</a></p>
                            </div>
                            <div class="col-md-4">
                                <p><a href="hr-pmer" class="btn btn-default">加入运营组</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="gtco-features">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-eye"></i>
						</span>
                        <h3>技术为上的力量</h3>
                        <p>技术驱动，代码定义，"Talk is cheap,show me the code"是我们的信条。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-command"></i>
						</span>
                        <h3>相信个人的潜能</h3>
                        <p>追求全栈，极致挖掘，我们因每个改变世界的梦想，觉醒自己的原力。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-power"></i>
						</span>
                        <h3>发挥创造的价值</h3>
                        <p>编码未来，创造价值，我们用心写好每一行代码，开发无尽界，创造不可能。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gtco-features-2">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>我们在寻找志在未来的你</h2>
                    <p>互联网如同一张张多米诺骨牌，或者一颗颗黑白棋棋子一般。而一个懂得这张网的程序员，很有可能能找到那颗最关键的棋子，一翻之下，就能反转整个棋盘。这个棋子可以是苹果，google，阿里巴巴，腾讯，facebook，也可以是你，我，或者任何一个痴迷这个世界的人。</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>舒适一流的开发环境</h3>
                            <p>我们提供豪华的研发环境与测试设备，全Mac机房与全套测试设备，尽情coding。</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>大牛导师与学长学姐的指导</h3>
                            <p>硕士生导师与大牛学长做技术指导，并且认识更多校内优秀开发者，以及实习就业时的名企内推。</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>苹果官方活动的参与捷径</h3>
                            <p>WWDC Student Scholarship的推荐，直通硅谷参与苹果开发者大会的机会。</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="gtco-video gtco-bg" style="background-image: url(/clouddn-file/vedio-bg.jpg); ">
                        <a href="/clouddn-file/csuapple.mp4" class="popup-vimeo"><i class="icon-video2"></i></a>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gtco-services">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="gtco-tabs">
                    <ul class="gtco-tab-nav">
                        <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-command"></i></span><span class="hidden-xs">移动组</span></a></li>
                        <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">前端组</span></a></li>
                        <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-bag"></i></span><span class="hidden-xs">后端组</span></a></li>
                        <li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="icon-box"></i></span><span class="hidden-xs">算法组</span></a></li>
                        <li><a href="#" data-tab="5"><span class="icon visible-xs"><i class="icon-box"></i></span><span class="hidden-xs">设计组</span></a></li>
                        <li><a href="#" data-tab="6"><span class="icon visible-xs"><i class="icon-box"></i></span><span class="hidden-xs">运营组</span></a></li>
                    </ul>

                    <!-- Tabs -->
                    <div class="gtco-tab-content-wrap">
                        <div class="gtco-tab-content tab-content active" data-tab-content="1">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-mobile"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>移动组</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="uppercase">成员：</h2>
                                        <p>iOS工程师，Android工程师</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">武器：</h2>
                                        <p>Objective-c，Java，Swift</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">战场：</h2>
                                        <p>各类手机平台</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">职责：</h2>
                                        <p>基于移动平台展现创意与技术，开发各类移动端app</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="2">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-browser"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>前端组</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="uppercase">成员：</h2>
                                        <p>前端工程师</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">武器：</h2>
                                        <p>JavaScript，HTML，CSS</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">战场：</h2>
                                        <p>浏览器</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">职责：</h2>
                                        <p>开发网站前端，学习前端工程化</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="3">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-server"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>后端组</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="uppercase">成员：</h2>
                                        <p>后端工程师</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">武器：</h2>
                                        <p>PHP，Python，Ruby，Java，C#</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">战场：</h2>
                                        <p>服务器</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">职责：</h2>
                                        <p>开发网站后端，为前端与移动端提供接口，同时接触大数据、Linux运维及信息安全等方面</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="4">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-rocket"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>算法组</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="uppercase">成员：</h2>
                                        <p>算法工程师</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">武器：</h2>
                                        <p>Algorithm，ML</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">战场：</h2>
                                        <p>算法</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">职责：</h2>
                                        <p>算法组是算法爱好者的聚居地，研究ACM及机器学习等算法相关内容</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="5">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-dribbble"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>设计组</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="uppercase">成员：</h2>
                                        <p>UI/UE设计师</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">武器：</h2>
                                        <p>PhotoShop，Sketch，AfterEffects，Illustrator，C4D</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">战场：</h2>
                                        <p>用户中心</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">职责：</h2>
                                        <p>为移动端与前端提供UI标注图，追求用户体验</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="6">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="icon-list"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>运营组</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="uppercase">成员：</h2>
                                        <p>产品运营，产品经理</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">武器：</h2>
                                        <p>Axure，Google docs，Alexa，Sketch，墨刀</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">战场：</h2>
                                        <p>各类互联网产品</p>
                                    </div>
                                    <div class="col-md-12">
                                        <h2 class="uppercase">职责：</h2>
                                        <p>了解各类互联网产品的运营，发掘创新产品</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="gtco-started">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>还等什么，立即加入我们的团队</h2>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-12">
                    <a href="hr-designer">
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-default btn-block">加入设计组</button>
                        </div>
                    </a>
                    <a href="hr-coder">
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-default btn-block">加入技术类组</button>
                        </div>
                    </a>
                    <a href="hr-pmer">
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-default btn-block">加入运营组</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>