<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中南大学苹果实验室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="中南大学，开发，苹果实验室，前端开发，web开发，ios开发，安卓开发" />
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="//cdn.bootcss.com/magnific-popup.js/1.0.1/magnific-popup.min.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="//cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/owl-carousel/1.32/owl.theme.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Modernizr JS -->
    <script src="//cdn.bootcss.com/modernizr/2.6.2/modernizr.min.js"></script>
    <!-- Vue -->
    <script src="//cdn.bootcss.com/vue/2.2.4/vue.min.js"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=61299088" charset="UTF-8"></script>
</head>
    <body>
    <div class="gtco-loader"></div>
    <div id="page">
        <nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo">
						<img src="images/logo.png">
					</div>
				</div>
				<div class="col-xs-10 text-center menu-1">
					<ul>
						<li><a href="/">首页</a></li>
						<li><a href="about.html">关于我们</a></li>
						<li><a href="member">成员介绍</a></li>
						<li><a href="hr-coder">加入我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	    </nav>

        {{{body}}}


        <footer id="gtco-footer" role="contentinfo">
            <div class="gtco-container">
                <div class="row row-pb-md">
                    <div class="col-md-6 gtco-widget">
                        <h3>联系方式</h3>
                        <p><a href="#">地址：中南大学新校区电子电工实验中心401</a></p>
                        <p><a href="">邮箱：stark123@csu.edu.cn <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sakura@csu.edu.cn</a></p>
                    </div>
                    <div class="col-md-3 gtco-widget">
                        <h3>站内导航</h3>
                        <ul class="gtco-footer-links">
                            <li><a href="http://csuapple.com/">主页</a></li>
                            <li><a href="http://hr.csuapple.com/">加入我们</a></li>
                            <li><a href="http://team.csuapple.com/">团队成员</a></li>
                            <li><a href="http://blog.csuapple.com/">技术博客</a></li>
			    <li><a href="http://doc.csuapple.com/">技术文档工具</a></li>
                            <li><a href="http://forum.csuapple.com/">技术社区</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 gtco-widget">
                        <h3>友情链接</h3>
                        <ul class="gtco-footer-links">
                            <li><a href="http://csu.edu.cn/">中南大学</a></li>
                            <li><a href="http://bbs.csu.edu.cn/">中南大学云麓园BBS</a></li>
                            <li><a href="http://54sh.csu.edu.cn/">中南大学升华网</a></li>
                            <li><a href="http://sise.csu.edu.cn/">中南大学信息院</a></li>
                            <li><a href="http://software.csu.edu.cn/">中南大学软件院</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row copyright">
                    <div class="col-md-12">
                        <p class="pull-left">
                            <small class="block">&copy; Copyright 2016. All Rights Reserved by CSU APPLE Lab. </small>
                            <small class="block"><a href="http://www.csuapple.com/" target="_blank">中南大学苹果实验室</a> 湘ICP备16019716号</small>
                        </p>
                    </div>
                </div>

            </div>
        </footer>
        </div>

        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
        </div>

        <!-- jQuery -->
        <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="http://of8t6pu0g.bkt.clouddn.com/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="http://of8t6pu0g.bkt.clouddn.com/jquery.waypoints.min.js"></script>
        <!-- Carousel -->
        <script src="//cdn.bootcss.com/owl-carousel/1.19/owl.carousel.min.js"></script>
        <!-- countTo -->
        <script src="http://of8t6pu0g.bkt.clouddn.com/jquery.countTo.js"></script>
        <!-- Magnific Popup -->
        <script src="//cdn.bootcss.com/magnific-popup.js/1.0.1/jquery.magnific-popup.min.js"></script>
        <script src="http://of8t6pu0g.bkt.clouddn.com/magnific-popup-options.js"></script>
        <!-- Main -->
        <script src="js/main.js"></script>
        <!-- Submitter -->
        <script src="js/front-end-submit.js"></script>
	<script src="https://qiyukf.com/script/ee08cd584fdae3a04275e9f9578d0aa7.js" defer async></script>
    </body>
</html>
