<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(http://of8t6pu0g.bkt.clouddn.com/img_bg_1.jpg);height: 100px">
</header>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading gtco-heading-sm">
                <h2>成员介绍</h2>
            </div>
        </div>
        <div class="row animate-box" id="member">
            <ul id="hexGrid">
                <li class="hex" v-for="member in members">
                    <a class="hexIn" v-bind:href="member.url"> <img v-bind:src="member.src" alt="" />
                        <h1 v-text="member.name"></h1>
                        <p v-text="member.text"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
